/* src/styles/PromoBannerSection.css */
.promo-banner2 {
  background-color: #83ccf9;
  border-radius: 16px;
  margin: 50px auto;
  width: 85%;
}

.promo-banner2 h2 {
  color: #130d3c;
  font-size: 28px;
}

.promo-banner2 .text-pink {
  color: #3487d9;
}

.promo-banner2 p {
  font-size: 17px;
  color: #4a5770;
}

.promo-btn {
  background-color: white;
  color: #1a3556;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.promo-btn:hover {
  background-color: #f2f2f2;
  color: #1a3556;
}
